.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix
content/Asir/1er/clase.txt
*.exe
content/Asir/1er/ISO/Queja formal del examen de ISO del 2024-11-28.md
content/Asir/2do/Python/5. Juego de la vida con Rust/*